html, body{
    height:100%; 
}

body{
 width: 100%;   
 margin: 0;
 overflow: none;
 font-family: 'Roboto Condensed', sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url(/public/images/bb-btc-kopia.jpg);
 background-position: center; 
 background-size:cover; 
 background-repeat: no-repeat;
 transition: linear;
 transition-duration: 2s;
 transition-property: background-image;
}

.container{
    display: flex;
    width:100%; 
    height:100%;
}

.btc-half, .bb-half{
    width:50%;
    height:100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btc-half{
    background-image: url(public/images/better-call-saul-Season-5-COVER.jpeg);
    transition: linear;
    transition-duration: 2s;
    transition-property: transform;
}

.bb-half{
    background-image: url(public/images/walter-white-de-breaking-bad-3695-kopia.jpg);
}

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3250379d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

 .hvr-sweep-to-top--btc:before{
    background: #64413e9d;
  }

  .game-intro{
    width:100%; 
    height:100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    animation-name: ease-in;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes ease-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .game-intro img {
    width:60%; 
  }

  .start-game-button{
    width:50%; 
    height:40px;
    color:aliceblue;
    background: none;
    border: none;
    cursor:pointer; 
    font-size: 1.2rem;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
    font-family: 'Roboto Condensed', sans-serif;
  }

  @-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.start-game-button{
    animation: opacityPulse 3s ease-out;
    animation-iteration-count: infinite;
    opacity: 0; 
}

@-webkit-keyframes opacityPulse {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

.quiz-container{
    width:70%; 
    height:70%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
    background:rgba(200, 200, 200, 0.879);
    padding:20px;
    border-radius: 15px;
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    transition: opacity 2s ease-in-out;
    -webkit-box-shadow: 2px 8px 24px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 8px 24px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 8px 24px 5px rgba(0, 0, 0, 0.6);
    z-index: 4;
    box-sizing: border-box;
}

.answer-button, .try-again-button{
    width:150px;
    height:70px;
    background-color: rgb(0, 0, 0);
    color:#fff;
    font-family: inherit;
    cursor:pointer; 
    margin:1em;
    border: none;
    --b: 2px;   /* border thickness */
    --s: .7em; /* size of the corner */
    --c: #f5f5f5de;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),rgba(0, 0, 0, 0.846) 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
  }
  .answer-button:hover,
  .answer-button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }
  .answer-button:active {
    background: var(--c);
    color: #fff;
  }

  .try-again-button{
    width:300px; 
    height:60px;
  }

  .try-again-button:hover, 
  .try-again-button:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
  }

  .try-again-button:active{
    background: var(--c);
    color: #fff;
  }

.question-box{
    width:80%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    opacity: 0;
}

.question{
    width:50%;
}

.buttons{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons button{
    width:100%; 
}

.summary-box{
    width:80%; 
    height:100%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.hidden {
    display:none;
}

.circular-score{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px; 
    width:250px;
    border-radius: 50%;
    background: conic-gradient(#22a214 3.6deg, #ededed 0deg);
}

.circular-score::before{
    content: '';
    position: absolute;
    height:210px;
    width:210px; 
    border-radius: 50%;
    background-color: #fff;
}

.score-value{
    position: relative;
    font-size: 2rem;
}

.congrats{
  font-size:1.5rem; 
}

.show{
  opacity: 1;
}

